.todoListMain .header input{
    padding: 10px;
    border: 2px solid #000000;
    width: 165px;
    font-size: 16px;
}

.todoListMain .header button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: green;
    color: #FFF;
    border: 2px solid darkgoldenrod;
}

.todoListMain .header button:hover{
    background-color: #003399;
    border: 2px solid darkgoldenrod;
    cursor: pointer;
}

.todoListMain .theList{
    list-style: none;
    padding-left: 0;
    width: 250px;
}

.todoListMain .theList li{
    color: #333;
    background-color: rgba(255,255,255, 0.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    list-style: none;
}

ul.theList{
    padding: 0;
}

.todoListMain .theList li:hover{
    background-color: #88f1f8;
    cursor: pointer;
}