body {
  padding: 50px;
  background-color: rgb(42, 146, 243);
}

#container {
  display: flex;
  justify-content: center;
}

#body-container{
  display: list-item;
  padding: 50px;
  height: 100vh;
  background-color: rgb(253, 60, 102);
}
